body {
    background-color: white;
}
header {
    box-sizing: border-box;
    background-color: white;

}

ul, li, a {
    text-decoration: none;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block
    paddding: 0px 20px;
}

.nav__links li a:hover {
    color: black
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

h1, h2 {
    background-color:rgb(21, 163, 199)
}

img {
    display:block;
    margin-right: auto;
}