* {
    box-sizing: border-box;
}
p, li, a, table, footer {
    font-family: Arial, Helvetica, sans-serif;
}
nav ul {
    background-color: rgb(21, 163, 199);
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0;
}
.nav__links a {
    text-decoration: none;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgb(21, 163, 199);
    color: black;
    padding: 12px;
}
li a:hover {
    background-color: rgb(16, 100, 121);
    color: white;
}
#about {
    background-image: url(./Images/background.jpg)
}

/* "blue and white abstract painting"" by Pawel Czerwinski under Unsplash License. 
https://unsplash.com/photos/blue-and-white-abstract-painting-SoB70WFVWGU" */

table {
    margin-right: auto;
    margin-left: auto;
    width: 40%;
    font-size: large;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 12px;
}
h2 {
    background-color: rgb(21, 163, 199)
}
img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
#work ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
}
#work ul li {
    padding-left: 70px;
    padding-right: 120px;
}
#work figure {
    display: flex;
    justify-content: center;
}
#contact p {
    text-align: center;
}
#contact a {
    color: black;
}
#footer {
    background-color: rgb(21, 163, 199);
    padding: 20px;
    text-align: center;
}